doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/main.min.css")
  body
    h1 Motherfucker
    table
      tr
        th Big Picnic
        th lol what
        th kekus
      tr
        td good job
        td bad news
        td lol
      tr
        td a
        td b
        td c
        
